@charset "utf-8";

.contenedor{
	border: 2px solid black;
	width: 600px;
	margin: 20px auto;
	
}

.parrafo{
	font-size: 20px;
}

.imagen{
	width: 500px;
	margin: 200px 0;
}
.gg{ border: 2px solid black; background-color: #9FFFAF}